
CONFIG_PACKAGE_kmod-shortcut-fe=y

CONFIG_PACKAGE_iperf3=y

CONFIG_PACKAGE_kmod-shortcut-fe-cm=y


CONFIG_PACKAGE_mkf2fs=y
CONFIG_PACKAGE_docker-compose=y
CONFIG_PACKAGE_mt7922bt-firmware=y

CONFIG_DRIVER_11AX_SUPPORT=y

CONFIG_PACKAGE_ntfs3-mount=y

CONFIG_PACKAGE_kmod-mt7921-common=y
CONFIG_PACKAGE_e2fsprogs=y
CONFIG_PACKAGE_luci-theme-argon=y
CONFIG_PACKAGE_mt7921bt-firmware=y

CONFIG_PACKAGE_ddns-scripts_cloudflare.com-v4=y


CONFIG_PACKAGE_zsh=y





CONFIG_PACKAGE_kmod-mt7921e=y


CONFIG_PACKAGE_vim-fuller=y
CONFIG_PACKAGE_nano-plus=y
CONFIG_PACKAGE_openssh-sftp-server=y

CONFIG_PACKAGE_htop=y